a(href="#").items-el
  .items-el-top
    p.items-el-top__where Ломоносовский район
    button.items-el-top__fav(data-favourites="")
      <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22.9122 2.76815C22.3519 2.20759 21.6867 1.76292 20.9545 1.45954C20.2223 1.15615 19.4375 1 18.645 1C17.8524 1 17.0676 1.15615 16.3354 1.45954C15.6032 1.76292 14.938 2.20759 14.3777 2.76815L13.2149 3.93095L12.0521 2.76815C10.9203 1.6364 9.38536 1.00059 7.78482 1.00059C6.18429 1.00059 4.64931 1.6364 3.51756 2.76815C2.38581 3.89989 1.75 5.43487 1.75 7.03541C1.75 8.63594 2.38581 10.1709 3.51756 11.3027L4.68036 12.4655L13.2149 21L21.7494 12.4655L22.9122 11.3027C23.4728 10.7424 23.9174 10.0771 24.2208 9.34495C24.5242 8.61276 24.6804 7.82796 24.6804 7.03541C24.6804 6.24285 24.5242 5.45806 24.2208 4.72587C23.9174 3.99368 23.4728 3.32844 22.9122 2.76815V2.76815Z" stroke="#DA4302" stroke-width="2" stroke-linecap="square"/>
      </svg>
    .items-el-top__img
      img(src="assets/images/type-1.jpg", alt="Участок 1")
  .items-el-desc
    .items-el-desc-top
      p.items-el-desc__title Таунхаус №5
      p.items-el-desc__text КП “Дворцовые предместья”
    .items-el-desc-bot
      p.items-el-desc-bot__char
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.13 2L7 17C7 17.5304 7.21071 18.0391 7.58579 18.4142C7.96086 18.7893 8.46957 19 9 19H24" stroke="#181818" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
          <path d="M2 7.13L17 7C17.5304 7 18.0391 7.21071 18.4142 7.58579C18.7893 7.96086 19 8.46957 19 9V24" stroke="#181818" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
        </svg>
        | 24 сот.
      p.items-el-desc-bot__char
        <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24.2258 20V16.129M1 20V16.129M1 16.129V8.3871H3.58065M1 16.129H24.2258M24.2258 16.129V8.3871H21.6452M21.6452 8.3871V3.22581M21.6452 8.3871H12.6129M21.6452 0V3.22581M21.6452 3.22581H12.6129M3.58065 3.22581V8.3871M3.58065 3.22581V0M3.58065 3.22581H12.6129M3.58065 8.3871H12.6129M12.6129 3.22581V8.3871" stroke="#181818" stroke-width="2" stroke-linejoin="round"/>
        </svg>
        | 4 спальни
      .btn.items-el-desc-bot__btn Подробнее