section.putCall-outer
  .container
    .putCall
      .putCall-desc
        p.putCall-desc__title Доверьте выбор недвижимости нам
        p.putCall-desc__text Оставьте заявку, и наш менеджер поможет найти подходящие для вас предложения
      form.putCall-form
        input(type="text" data-type="tel" data-required="" placeholder="Телефон").putCall__input 
        button(type="submit").btn.putCall__btn Отправить
      .putCall-success
        p.putCall-success__text Скоро вам перезвонят на<br>
          span
        button.btn.putCall-success__btn Изменить номер