extends ../template
block title
  | Блог | 8 соток
block content
  section.breadcrumbs
    .container
      .breadcrumbs-row
        a(href="#").breadcrumbs__item Главная
        a(href="#").breadcrumbs__item Блог
  section.blog
    .container.blog-container
      h1.default__title Блог
      .blog-filter
        label.blog-filter-item
          input(type="radio" name="blog-filter" checked)
          .btn.btn_white.blog-filter-item__btn Все
        label.blog-filter-item
          input(type="radio" name="blog-filter")
          .btn.btn_white.blog-filter-item__btn Советы
        label.blog-filter-item
          input(type="radio" name="blog-filter")
          .btn.btn_white.blog-filter-item__btn Интересные факты
      .blog-grid
        a(href="#").blog-item
          .blog-item-top
            p.blog-item-top__status Интересные факты
            .blog-item-top__img
              img(src="assets/images/blog-item.jpg", alt="Почувствовать атмосферу Альп")
          .blog-item-desc
            p.blog-item-desc__title Почувствовать атмосферу Альп
            p.blog-item-desc__text  
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5 16C12.6421 16 16 12.6421 16 8.5C16 4.35786 12.6421 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6421 4.35786 16 8.5 16Z" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.5 4V8.5L11.5 10" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              | Время чтения: 10 минут
        a(href="#").blog-item
          .blog-item-top
            p.blog-item-top__status Интересные факты
            .blog-item-top__img
              img(src="assets/images/blog-item.jpg", alt="Почувствовать атмосферу Альп")
          .blog-item-desc
            p.blog-item-desc__title Почувствовать атмосферу Альп
            p.blog-item-desc__text  
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5 16C12.6421 16 16 12.6421 16 8.5C16 4.35786 12.6421 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6421 4.35786 16 8.5 16Z" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.5 4V8.5L11.5 10" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              | Время чтения: 10 минут
        a(href="#").blog-item
          .blog-item-top
            p.blog-item-top__status Интересные факты
            .blog-item-top__img
              img(src="assets/images/blog-item.jpg", alt="Почувствовать атмосферу Альп")
          .blog-item-desc
            p.blog-item-desc__title Почувствовать атмосферу Альп Почувствовать атмосферу Альп Почувствовать атмосферу Альп
            p.blog-item-desc__text  
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5 16C12.6421 16 16 12.6421 16 8.5C16 4.35786 12.6421 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6421 4.35786 16 8.5 16Z" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.5 4V8.5L11.5 10" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              | Время чтения: 10 минут
        a(href="#").blog-item
          .blog-item-top
            p.blog-item-top__status Интересные факты
            .blog-item-top__img
              img(src="assets/images/blog-item.jpg", alt="Почувствовать атмосферу Альп")
          .blog-item-desc
            p.blog-item-desc__title Почувствовать атмосферу Альп
            p.blog-item-desc__text  
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5 16C12.6421 16 16 12.6421 16 8.5C16 4.35786 12.6421 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6421 4.35786 16 8.5 16Z" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.5 4V8.5L11.5 10" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              | Время чтения: 10 минут
        a(href="#").blog-item
          .blog-item-top
            p.blog-item-top__status Интересные факты
            .blog-item-top__img
              img(src="assets/images/blog-item.jpg", alt="Почувствовать атмосферу Альп")
          .blog-item-desc
            p.blog-item-desc__title Почувствовать атмосферу Альп
            p.blog-item-desc__text  
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5 16C12.6421 16 16 12.6421 16 8.5C16 4.35786 12.6421 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6421 4.35786 16 8.5 16Z" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.5 4V8.5L11.5 10" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              | Время чтения: 10 минут
        a(href="#").blog-item
          .blog-item-top
            p.blog-item-top__status Интересные факты
            .blog-item-top__img
              img(src="assets/images/blog-item.jpg", alt="Почувствовать атмосферу Альп")
          .blog-item-desc
            p.blog-item-desc__title Почувствовать атмосферу Альп
            p.blog-item-desc__text  
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5 16C12.6421 16 16 12.6421 16 8.5C16 4.35786 12.6421 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6421 4.35786 16 8.5 16Z" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.5 4V8.5L11.5 10" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              | Время чтения: 10 минут
        a(href="#").blog-item
          .blog-item-top
            p.blog-item-top__status Интересные факты
            .blog-item-top__img
              img(src="assets/images/blog-item.jpg", alt="Почувствовать атмосферу Альп")
          .blog-item-desc
            p.blog-item-desc__title Почувствовать атмосферу Альп
            p.blog-item-desc__text  
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5 16C12.6421 16 16 12.6421 16 8.5C16 4.35786 12.6421 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6421 4.35786 16 8.5 16Z" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.5 4V8.5L11.5 10" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              | Время чтения: 10 минут
        a(href="#").blog-item
          .blog-item-top
            p.blog-item-top__status Интересные факты
            .blog-item-top__img
              img(src="assets/images/blog-item.jpg", alt="Почувствовать атмосферу Альп")
          .blog-item-desc
            p.blog-item-desc__title Почувствовать атмосферу Альп
            p.blog-item-desc__text  
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5 16C12.6421 16 16 12.6421 16 8.5C16 4.35786 12.6421 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6421 4.35786 16 8.5 16Z" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.5 4V8.5L11.5 10" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              | Время чтения: 10 минут
        a(href="#").blog-item
          .blog-item-top
            p.blog-item-top__status Интересные факты
            .blog-item-top__img
              img(src="assets/images/blog-item.jpg", alt="Почувствовать атмосферу Альп")
          .blog-item-desc
            p.blog-item-desc__title Почувствовать атмосферу Альп
            p.blog-item-desc__text  
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5 16C12.6421 16 16 12.6421 16 8.5C16 4.35786 12.6421 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6421 4.35786 16 8.5 16Z" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.5 4V8.5L11.5 10" stroke="#181818" stroke-opacity="0.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              | Время чтения: 10 минут
  include ../common/putCall
