.banner{
  height: 576px;
  display: flex;  
  align-items: center;
  position: relative;
  &-bg{
    height: 100%;
    position: absolute;
    right: 0;
    left: calc(50% - 105px);
    top: 0;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &-desc{
    max-width: calc(50% - 125px);
    &__title{
      font-weight: bold;
      font-size: 48px;
      line-height: 125%;
      color: var(--dark);
      margin-bottom: 40px;
    }
    &__text{
      font-size: 16px;
      line-height: 150%;
      color: var(--half);
    }
  }
}

.type{
  @include ptpb;
  &-top{
    display: flex;
    justify-content: space-between;
  }
  &-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px 400px;
    gap: 40px;
  }
  &-card{
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &-desc{
      margin-top: auto;
      padding: 20px;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      &-left{
        &__title{
          margin-bottom: 10px;
          font-weight: 500;
          font-size: 24px;
          line-height: 150%;
          color: #FFFFFF;
        }
        &__text{
          font-size: 14px;
          color: #FFFFFF;
          line-height: 150%;
        }
      }
      &__link{
        margin-left: auto;
      }
    }
  }
}


.advantages{
  background-color: rgba(24, 24, 24, 0.05);
  @include ptpb;
  &-container{
    display: flex;
  }
  &-item{
    width: calc(100% / 3);
    padding-right: 24px;
    &__title{
      font-weight: 500;
      font-size: 24px;
      line-height: 125%;
      color: var(--dark);
      margin-bottom: 20px;
    }
    &__text{
      font-size: 16px;
      line-height: 150%;
      color: var(--half);
    }
  }
}


.best{
  @include mtmb;
  &-container{
    display: flex;
    flex-direction: column;
  }
  &__btn{
    margin: 40px auto 0;
  }
}

@include w1024{
	.advantages{
		&-container{
			flex-direction: column;
			align-items: center;
		}
		&-item{
			width: 73%;
			&+&{
				margin-top: 60px;
			}
			&__title{
				br{
					display: none;
				}
			}
		}
	}
	.type{
		&-grid{
			grid-template-rows: 300px 300px;
    	grid-gap: 20px;
		}
	}
}

@include w768{
  .banner{
    height: auto;
    display: block;
    &-bg{
      position: static;
    }
    &-desc{
      max-width: none;
      margin-top: 40px;
      br{
        display: none;
      }
      &__title{
        font-size: 30px;
        line-height: 110%;
        margin-bottom: 20px;
      }
      &__text{
        margin-bottom: 40px;
      }
    }
  }
  .type{
    padding-top: 90px;
    padding-bottom: 90px;
    &-grid{
      grid-template-rows: 217px 217px;
    }
    &-card{
      &-desc{
        &-left{
          &__title{
            font-size: 18px;
            line-height: 21px;
          }
          &__text{
            font-size: 14px;
            line-height: 16px;
          }
        }
        &__link{
          font-size: 14px;
        }
      }
    }
  }
  .advantages{
    &-item{
      &__text{
        font-size: 14px;
      }
    }
  }
  .best{
    margin-top: 90px;
    margin-bottom: 90px;
    &__btn{
      margin-top: 20px;
    }
  }
}

@include w480{
  .type{
    padding-top: 40px;
    padding-bottom: 40px;
    &-top{
      &__all{
        display: none;
      }
    }
    &-grid{
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 217px;
      grid-auto-rows: 217px;
    }
    &-card{
      &-desc{
        padding: 10px;
        &__link{
          padding-right: 12px;
          padding-left: 12px;
          font-size: 12px;
          height: 30px;
        }
      }
    }
  }
  .advantages{
    padding-top: 40px;
    padding-bottom: 40px;
    &-item{
      width: 100%;
      padding-right: 0;
      &__title{
        font-size: 18px;
      }
      &__text{
        br{
          display: none;
        }
      }
    }
  }
  .best{
    margin-top: 40px;
    margin-bottom: 40px;
  }
}